*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Element Style -=-=-=-=-=-=- */

div#container{
    max-width: 1216px;
    margin: 0 auto;
}

header{
    background-color: #252525;
}
header a span,
header .nav-link{
    color: white;
}


footer{
    margin-top: 80px;
    background-color: #f0f0f0;
}

div#bg-hero{
    position: relative;
    padding: 120px 0;
    overflow: hidden;
    margin-bottom: 32px;
}

section.page-section{
    margin-top: 56px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d9d9d9;
}

img.bg-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .4;
}
/* -=-=-=-=- */


/* Bootstrap Style -=-=-=-=-=-=- */


/* -=-=-=-=- */




/* Responsivo -=-=-=-=-=-=- */

@media screen and (max-width: 1216px){
    div#container{
        margin: 0 5%;
    }
}

/* -=-=-=-=- */
