*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: red;
}

div#container{
    max-width: 1216px;
    margin: 0 auto;
}

div.cont-cards{
    margin-top: 40px;
}

footer{
    margin-top: 56px;
}